$primary-font-regular: 'Montserrat', sans-serif;
$primary-font-medium: 'Montserrat', sans-serif;
$primary-font-semibold:'Montserrat', sans-serif;
$primary-font-bold:'Montserrat', sans-serif;
$gray:#636569;
$red:#FC5252;
$blue:#0071ce;